.bg-img-auth {
    font-family: "Poppins", sans-serif;
    background-image: url("/assets/background.jpg");
    background-size: cover;
}
.transparan {
    opacity: 0.5;
}

.box {
    box-shadow: 10px 10px;
    opacity: 0.5;
}
