@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

/* width */
::-webkit-scrollbar {
    width: 2px;
    height: 3px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #d1d5db;
    border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #7c3aed;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a06afc;
}

body {
    overflow-x: hidden;
}
